* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  
html {
    background-color: #373234;
}

head, body, footer {
    color: white;
}

#main-heading {
    padding: 4rem 1rem;
    text-align: center;
}

#content {
    margin: 1rem;
    padding: 8rem 1rem;
    border-radius: 5px;
    background-color: white;
    color: black;
}

#content h1 {
    text-align: center;
}

#content a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 1rem;
    transition: 0.25s;
}

#content a:hover {
    background-color: black;
    color: white;
}

footer {
    padding: 4rem 1rem;
}