* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #373234;
}

head, body, footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}