@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ^^ font-weight values */
:root {
  --white: #fffff0;
  --light-gray: #E5E5E5;
  --gray: #9b9b9b;
  --dark-gray: #373234;
  --black: #151515;
  --green: #048d5b;
  --dark-green: #035a3a;
  color: black;
  font-size: 18px;
  font-family: 'League Spartan', 'Arial';
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  scroll-behavior: smooth;
}


/* navigation bar */
nav {
  background-color: var(--black);
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 0;
}

@media only screen and (max-width: 768px) {
  nav {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 1025px) {
  nav {
    padding: 0 8rem;
  }
}

@media only screen and (min-width: 1201px) {
  nav {
    padding: 0 12rem;
  }
}

.push-left {
  margin-right: auto;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .push-left {
    display: none;
  }
}

nav a {
  padding: 1.5rem;
  margin: 0;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

nav a:hover {
  color: white; 
  background-color: var(--green);
}

/* about me */

#about-me-container {
  background-color: rgba(21, 21, 21, 0);
  transition: 0.25s;
  padding: 4rem 12rem;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}

#about-me-img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

#about-me-description {
  width: 60%;
  margin: auto;
}

#about-me-description p {
  line-height: 18px;
}

#about-me-description h1 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1050px) {
  #about-me-description h1 {
    font-size: 1.7rem;
  }
}

#aboutMeVideo {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  min-width: 110%;
  min-height: 110%;
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
}

.about-me-btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: var(--green);
  color: white;
  border-color: white;
  border-radius: 5px;
  font-family: "League Spartan", Arial;
  font-weight: bold;
  transition: 0.25s;
}

#montageBtn:hover {
  background-color: var(--white);
  color: var(--green);
  border-color: var(--green);
}

@media only screen and (max-width: 1200px) {
  #about-me-container {
    padding: 4rem 6rem;
  }
}

/* projects */

#project-container {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
}

#project-header {
  padding-top: 4rem;
  display: block;
  background-color: var(--dark-gray);
  font-size: 3rem;
  text-align: center;
  color: white;
}
  
.project {
  width: 33%;
  background-color: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem;
  border-radius: 5px;
  transition: 0.25s;
}

.project:hover {
  transform: scale(1.025, 1.025);
}

.project-top {
  text-align: center;
  padding-bottom: 0.83em;
}
  
.project-title {
  color: black;
  font-size: 2vw 1vh;
}
  
.project-subtitle {
  color: rgba(64, 64, 64, 1);
  font-size: 1vw 1vh;
}
  
.center-project {
  width: 100%;
  height: 200px;
  display: block;
  margin: auto;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
  
.project-bottom {
  padding-top: 1rem;
  color: black;
}

/* contact */

#contact-container {
  background-color: var(--light-gray);
  height: 100%;
  color: black;
  padding: 4rem 12rem;
  display: block;
}

.contact-header {
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.all-packages {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: white;
  padding: 2rem;
}

.all-packages-header {
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.all-packages-list ul li {
  text-align: left;
  margin: 0 0 0.5rem 2rem;
}

.form {
  width: 60%;
  margin: auto;
  background-color: var(--green);
  color: white;
  border-radius: 10px;
}

.form h1 {
  background-color: var(--dark-green);
  border-radius: 10px;
  display: block;
  text-align: center;
  padding: 2rem;
}

.form-body {
  padding: 3rem 2rem 4rem;
}

.form-body input {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 6px;
  text-align: left;
  margin-bottom: 18px;
}


.form-body textarea {
  min-height: 8rem;
  max-height: 16rem;
  min-width: 100%;
  max-width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.form-body h3 {
  text-align: center;
}

#fname, #lname, #email {
  width: 100%;
}

#submit {
  padding: 0.5rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
  font-family: "League Spartan", Arial;
  background-color: var(--dark-green);
  color: white;
  border-color: white;
  display: flex;
  transition: 0.25s;
}

#submit:hover {
  background-color: white;
  border-color: var(--green);
  color: var(--green);
}


/*footer*/

footer {
  background-color: var(--black);
  padding: 8rem 12rem;
  color: white;
}

footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer div a {
  color: white;
  text-decoration: none;
  transition: 0.25s;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 5px;
}

footer div a:hover {
  color: var(--green);
  background-color: white;
}

footer p {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}